<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-primary mb-4">About Our Property Rent Website</h1>

            <div class="mb-5">
                <h2 class="h4 text-primary">Group 7: Property Rent Website</h2>
                <p>This is one of those ideas that will never be outdated: every person needs a place to live in, not everyone can afford an apartment or a house, and not everyone needs it. We gather property lease ads and help seekers find their ideal rental.</p>
            </div>
            <div class="mb-5">
                <h2 class="h4 text-primary">Meet Our Team</h2>
                <div class="row mt-4">
                    <div class="col-md-6 mb-4">
                        <div class="card border-primary h-100">
                            <div class="card-body">
                                <h3 class="h5 card-title">Shane Mae Asid</h3>
                                <p class="card-text">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card border-primary h-100">
                            <div class="card-body">
                                <h3 class="h5 card-title">Shaznay Samantha Lopez</h3>
                                <p class="card-text">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card border-primary h-100">
                            <div class="card-body">
                                <h3 class="h5 card-title">Metchjhon Medina</h3>
                                <p class="card-text">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card border-primary h-100">
                            <div class="card-body">
                                <h3 class="h5 card-title">Simon Jhade Sebios</h3>
                                <p class="card-text">Team Member</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card border-primary h-100">
                            <div class="card-body">
                                <h3 class="h5 card-title">Elgie Ytang</h3>
                                <p class="card-text">Team Member</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>